body{
  background-color: #0f0e17;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fffffe;
}
header .container{

}
  


header .container img {
  width: 100px;
}

nav{
  /* insère ton style ici */
}

nav ul {
  /* insère ton style ici */
}

nav li {
    display: inline;
}
    
  


nav li a {
  /* insère ton style ici */


section{
  /* insère ton style ici */
}

h2{
  /* insère ton style ici */
}

p{
  /* insère ton style ici */
}

footer{
  /* insère ton style ici */
}